body {
    background-color: blue;
}
.header{
    font-size: 100px;
	font-family:黑体;
    color: blank;
    text-decoration: none;
    position: relative;
    float: left;
	margin-left: 61px;
    top: 10px;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
}
a:link,a:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#cc0000;
}
