body {
    background-image: url(../images/home.png);
	background-repeat: no-repeat;
	 background-size:cover;
	 background-attachment:fixed;
}
input::-webkit-input-placeholder {
        /* placeholder颜色  */
        color: black;
        /* placeholder字体大小  */
         font-size: 18px;
        /* placeholder位置  */
        text-align: left; 
}
#login_frame {
    width: 360px;
    height: 145px;
    padding: 10px;
 
    position: absolute;
    left: 30%;
    top: 80%;
    margin-left: -200px;
    margin-top: -200px;
	padding-top:35px;
    background-color: rgba(156, 156, 156, 0.7);
 
    border-radius: 10px;
    text-align: center;
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
}

#username{
	background:url(../images/user.png) no-repeat 5px;
}
#password{
	background:url(../images/password.png) no-repeat 5px;
}
#title{
    font-size: 28px;
    font-family:STHupo;
    color:#8A2BE2;
	text-align:left;
	text-indent:50px;
	padding-top:6px;
}
.top{
	background-color:rgb(250,250,250,0.4);
	height:40px;
}
 .text_field {
    font-size: 18px;
    font-family:YouYuan;
    width: 250px;
    height: 28px;
	border-radius:5px;
	border: 2px solid white;
	padding-left: 30px;
	color:white;
	margin:5px;
}
.login_signup{
	font-size: 18px;
    font-family:YouYuan;
 
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
	
    color: white;
    background-color: #B5B5B5;
    border-radius: 6px;
    border: 0;

}	
#btn_login {
	margin-left: 11px;
    float: left;
}
 #sign_up {
	margin-right: 11px;
    float: right;
}
#forget_pwd {
    font-size: 12px;
	font-family:YouYuan;
    color: white;
    text-decoration: none;
    position: relative;
    float: left;
	margin-left: 31px;
    top: 10px;
 
}
 
#forget_pwd:hover {
    color: blue;
    text-decoration: underline;
}
 
#login_control {
    padding: 0 28px;
}
